---
import Profile from '../components/Profile.astro';
import Cards from '../components/Cards.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<div class="flex flex-col md:items-center md:justify-center w-full md:max-w-2xl gap-5 p-4">
		<Profile />
		<Cards />
	</div>
</Layout>
